<ion-tabs selectedIndex='3'>
  <ion-tab [root]="tab1Root" tabTitle='Dashboard' tabIcon='speedometer'></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle='Timeline' tabIcon='time'></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle='Nearby' tabIcon='navigate'></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle='Challenges' tabIcon='trophy'></ion-tab>
</ion-tabs>