<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Challenges</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

  <ion-segment [(ngModel)]="levels" color="secondary">
    <ion-segment-button value="beginner">
      Beginner
    </ion-segment-button>
    <ion-segment-button value="intermadiate">
      Intermadiate
    </ion-segment-button>
    <ion-segment-button value="advance">
      Advance
    </ion-segment-button>
  </ion-segment>

<div [ngSwitch]='levels'>
  <ion-list *ngSwitchCase="'intermadiate'">
    <ion-card>
        <div style="z-index: 1; position: absolute; right: 5%; margin-top: 10px" (click)="showFirst=!showFirst">
            <img src="assets/imgs/ic-bookmark-d.png" *ngIf='!showFirst'/>
            <img src="assets/imgs/ic-bookmark.png" *ngIf='showFirst'/>
          </div>
          <img no-padding style="z-index: 1; position: absolute; width: 20%; height: auto" src='assets/imgs/ic-cardio.png'/>
        <img src="assets/imgs/card-02.png"/>
      <ion-card-content>
        <ion-card-title no-padding>
          500 Calories Run
          </ion-card-title>
      </ion-card-content>
  
      <ion-row no-padding>
        <ion-col>
          <button no-padding ion-button clear small color="orange" icon-start>
            <ion-icon name='information-circle'></ion-icon>
            Intermad
          </button>
        </ion-col>
        <ion-col text-center>
          <button no-padding ion-button clear small color="dark" icon-start>
            <ion-icon name='flame'></ion-icon>
            500 Calories
          </button>
        </ion-col>
        <ion-col text-right>
          <button no-padding ion-button clear small color="primary" icon-start>
            <ion-icon name='add'></ion-icon>
            100 Points
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  
    <ion-card>
      <div style="z-index: 1; position: absolute; right: 5%; margin-top: 10px" (click)="showSecond=!showSecond">
          <img src="assets/imgs/ic-bookmark-d.png" *ngIf='!showSecond'/>
          <img src="assets/imgs/ic-bookmark.png" *ngIf='showSecond'/>
      </div>
      <img no-padding style="z-index: 1; position: absolute; width: 20%; height: auto" src='assets/imgs/ic-cardio.png'/>
      <img src="assets/imgs/card-01.png"/>
      <ion-card-content>
        <ion-card-title no-padding>
          2.4 KM Run
          <img no-padding style="width: 20%; height: auto" src='assets/imgs/ic-cardio.png'/>
          </ion-card-title>
      </ion-card-content>
  
      <ion-row no-padding>
        <ion-col>
          <button no-padding ion-button clear small color="orange" icon-start>
            <ion-icon name='information-circle'></ion-icon>
            Intermad
          </button>
        </ion-col>
        <ion-col text-center>
          <button no-padding ion-button clear small color="dark" icon-start>
            <ion-icon name='flame'></ion-icon>
            640 Calories
          </button>
        </ion-col>
        <ion-col text-right>
          <button no-padding ion-button clear small color="primary" icon-start>
            <ion-icon name='add'></ion-icon>
            100 Points
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>

  <ion-list *ngSwitchCase="'beginner'">
    <p>Beginner coming soon</p>
  </ion-list>

  <ion-list *ngSwitchCase="'advance'">
      <p>Advance coming soon</p>
    </ion-list>
</div>
</ion-content>
