<ion-header>
    <ion-navbar color='primary'>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Nearby</ion-title>
    </ion-navbar>
  </ion-header>